@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: regular;
  src: url("../../public/fonts/lato-regular-webfont.woff") format("woff");
  src: url("../../public/fonts/lato-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("../../public/fonts/lato-bold-webfont.woff") format("woff");
  src: url("../../public/fonts/lato-bold-webfont.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
}
