.header {
  background-color: lightgoldenrodyellow;
}

.navigation {
  display: flex;
  justify-content: center;
}

.link {
  text-transform: uppercase;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    font-style: italic;
  }
}

.active {
  color: red;
}
